node_modules/
dist/
release/
release-pc/
*.log
.DS_Store
Thumbs.db
简行浏览器安装包.exe
JianXingBrowser-Setup-*.exe
*.exe.blockmap
.env
.env.*
2504
dist-tmp-nav.js
*.jks
android/keystore/
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/local.properties
