<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".JianXingApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.JianXingBrowser"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/html" />
                <data android:mimeType="application/xhtml+xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.html" />
                <data android:pathPattern=".*\\.htm" />
                <data android:pathPattern=".*\\.xhtml" />
                <data android:pathPattern=".*\\.HTML" />
                <data android:pathPattern=".*\\.HTM" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.BookmarksActivity"
            android:exported="false"
            android:label="@string/bookmarks_manage"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.HistoryActivity"
            android:exported="false"
            android:label="@string/history_title"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.DownloadsActivity"
            android:exported="false"
            android:label="@string/downloads_title"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.ParentActivity"
            android:exported="false"
            android:label="@string/parent_title"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.PasswordsActivity"
            android:exported="false"
            android:label="@string/passwords_title"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.UpdateActivity"
            android:exported="false"
            android:label="@string/update_title"
            android:parentActivityName=".ui.MainActivity" />
    </application>
</manifest>
