*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
.tmp-gradle/
.tmp-wrapper-gen/
build-log.txt
gradle-*-bin.zip
/keystore/
*.jks
